body {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*master sayfası*/
.ortala {
    text-align: center;
}

#main-box { /*ana kutu*/
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.content-50 { /*nav-bar*/
    width: 1000px;
    height: 50px;
    background-color: #0bb9d1;
}

.iletisim-formu {
    margin-top: 60px;
    float: right;
    width: 350px;
    height: auto;
    margin-right: 20px;
}
/* kayıt ol- oturum aç*/
.anon-uye {
    height: 50px;
}

    .anon-uye .uyeAdsoyad {
        font-size: 20px;
        color: #fff;
    }
/**/
.uye-alani-box {
    width: 1000px;
    height: auto;
}

    .uye-alani-box .uye-alani {
        width: auto;
        height: auto;
        background-color: #ddd;
    }

.btnUye {
    width: 120px;
    height: 50px;
    color: #000;
    background-color: #fff;
    font-size: large;
    cursor: pointer;
    font-family: Corbel;
}

    .btnUye:hover {
        background-color: #33b9cc;
        color: #fff;
    }

.uye-kayit-table td {
    text-align: center;
    font-size: 20px;
    font-family: Corbel;
}

.uye-kayit-table a {
    color: #000;
}

    .uye-kayit-table a:hover {
        color: #2c4ab5;
    }

.content-50-left {
    float: left;
    width: auto;
    height: 50px;
}

.content-50-left-logo {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: #aaa;
}

.content-50-right {
    margin-left: 30px;
    float: left;
    width: 400px;
    height: 50px;
}

ul li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
}

    ul li a {
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        opacity: .9;
    }

        ul li a:hover {
            opacity: 1;
            background-color: #678;
        }

.content-200 {
    text-align: center;
}

.content-275-200 {
    text-align: center;
    width: 275px;
    height: 200px;
    background-color: #ddd;
}

    .content-275-200 .tblSearch {
        width: 250px;
        height: 175px;
        margin: 0 auto;
    }

.content-300 { /*slider*/
    width: 100%;
    height: 300px;
    background-color: #ccc;
}
/*yorum paneli*/

.content-500 {
    width: 600px;
    height: auto;
}

.yorumlar-ana-kutu {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

.alt-yorumlar-ana-kutu {
    width: 400px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
}

.yorumlar-img-box {
    float: left;
}

.yorumlar-adsoyad-box {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.yorumlar-tarih-box {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

.yorumlar-yetki-box {
    float: right;
    background-color: #2c4ab5;
    margin: 5px 5px;
}

.yorumlar-mesaj-box {
    clear: both;
    padding: 5px 5px;
    margin-left: 50px;
}

.yorumlar-cevapla-box {
    float: right;
    margin-left: 45px;
}

.yorumlar-yanıtOlarak-box {
    margin: 10px 10px;
}

.yorumlar-img-resim {
    width: 50px;
}

.yorumlar-adsoyad-metin {
    font-family: sans-serif;
    font: bold;
}

.yorumlar-tarih-metin {
    font-size: small;
    font-family: 'Segoe UI', Times, serif;
}

.yorumlar-yetki-metin {
    color: #fff;
    font-family: Corbel;
    padding: 3px 3px;
}

.yorumlar-mesaj-metin {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.yorumlar-cevapla-metin {
    font-family: Abel;
}

.yorumlar-cevapla-link {
    text-decoration: none;
}

    .yorumlar-cevapla-link:hover {
        text-decoration: underline;
    }

.yorumlar-yanıtOlarak-metin {
    font-family: Candara;
    font: bold;
    color: #4987f5;
}

.alt-yorum-img {
    width: 20px;
    height: auto;
    float: left;
}

.yorumlar-adsoyad-link {
    text-decoration: none;
    color: #000;
}

    .yorumlar-adsoyad-link:hover {
        text-decoration: underline;
    }

.yorumlar-yanıtOlarak-link {
    font-family: Candara;
    font: bold;
    color: #4987f5;
    text-decoration: none;
}

    .yorumlar-yanıtOlarak-link:hover {
        text-decoration: underline;
    }

.yorum-yap-box {
    width: 260px;
}

.yorum-yap-isim-box {
    width: 100%;
    margin-bottom: 10px;
}

.yorum-yap-isim {
    float: left;
    font-family: Consolas;
    margin-left: 70px;
}

.yorum-yap-txt {
    width: 100%;
    font-family: Corbel;
    height: 25px;
    text-align: center;
}

.yorum-yap-cevapla {
    float: right;
    width: auto;
    height: 30px;
    cursor: pointer;
}

.yorum-bilgilendirme-mesaji {
    font-family: 'Gill Sans MT';
    color: #09f;
    text-decoration: none;
}

    .yorum-bilgilendirme-mesaji:hover {
        text-decoration: solid;
        opacity: .8;
    }

.yorum-bilgilendirme-box {
    width: auto;
}
/**/
.user-table {
    margin-left: 150px;
}
/*yorum paneli sonu*/
.content-1000 { /*gövde*/
    margin-top: 15px;
    float: left;
    width: 1000px;
    height: auto;
}

.content-600 { /*govde sol*/
    float: left;
    margin-left: 25px;
    width: 600px;
    height: auto;
}

.content-275 { /*govde sag*/
    float: right;
    margin-right: 40px;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.content-275-baslik {
    width: 250px;
    background-color: #eee;
    margin: 0 auto;
}

    .content-275-baslik h3 {
        text-align: center;
        border-bottom: solid thin #2c4ab5;
        border-top: solid thin #2c4ab5;
        border-left: dotted thin #2c4ab5;
        border-right: dotted thin #2c4ab5;
    }

.copy-right {
    width: 100%;
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Corbel;
}
/*duyuru kategorisi*/
.content-275 .kaydirma-cubugu {
    width: 250px;
    height: 180px;
    background-color: #eee;
    margin: 0 auto;
    overflow-y: scroll; /*scrool-bar ekleme*/
}

.ltDuyuruBaslik {
    color: #0094ff;
    font-family: Corbel;
    font-size: large;
}

.ltDuyuruIcerik {
    color: #000;
}

.ltDuyuruTarihi {
    border-bottom-style: solid;
    border-bottom-width: initial;
    border-bottom-color: #2a595c;
    text-align: right;
    font-size: x-small;
}

.btnSearch {
    color: #000;
    background-color: #fff;
    font-size: large;
    cursor: pointer;
}

    .btnSearch:hover {
        background-color: #33b9cc;
        color: #fff;
    }

/*master-2*/
.placeHolder {
    width: 1000px;
    height: auto;
}


.new-row {
    clear: both;
    margin: 20px 0;
}

.align-left {
    float: left;
    margin: 15px 0;
    position: relative;
}

.align-center {
    float: right;
    margin: 15px 0;
    margin-left: 75px;
    position: relative;
}

.align-right {
    float: right;
    margin: 15px 0;
    position: relative;
}

/*--*/

.picture-curtain-hover {
    width: 150px;
    height: 140px;
    top: -140px;
    position: absolute;
    transition: all 500ms;
    -o-transition: all 500ms;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
    position: absolute;
    overflow: hidden;
}

.align-right:hover .box-hover {
    top: 0;
}
/**/
.space-50 {
    width: 100%;
    height: 15px;
}

.yorum-yap-box {
    width: 500px;
    height: auto;
}

.btnReset {
    color: #000;
    background-color: #fff;
    font-size: large;
    cursor: pointer;
    font-family: Corbel;
}

    .btnReset:hover {
        background-color: #33b9cc;
        color: #fff;
    }
/**/
.left-div {
    float: left;
    width: 250px;
    display:none;
}

.middle-div {
    float: left;
    width: 250px;
    background-color:#ddd;
}

    .middle-div .gelen-mesaj {
        float: left;
        margin-bottom: 20px;
        background-color:azure;
        clear:none;
    }

    .middle-div .giden-mesaj {
        float: right;
        margin-top: 20px;
        background-color:bisque;
        clear:none;
    }
